<a href="https://colab.research.google.com/github/ykkimhgu/DLIP-src/blob/main/Tutorial_PythonBasics_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics 
*Learning Python in 60 minutes by Y.-K. Kim*


We will use the Python and Numpy for Deep Learning assignments in this course. 

Python is a great general-purpose programming language on its own, but with the help of a few popular libraries (numpy, scipy, matplotlib) it becomes a powerful environment for scientific computing.

This tutorial is created from various references of

1.   Python Numpy Tutorial by CS231n : https://cs231n.github.io
2.   python-numpy-tutorial: https://www.w3schools.com/python/
3. A Crash Course in Python for Scientists by  Rick Muller:  https://nbviewer.jupyter.org/gist/rpmuller/5920182#ii.-numpy-and-scipy

## Python Versions
We will use Python 3.7, follow how to install Python in the course website.

# Python Indentation
Python uses indentation to indicate a block of code.

In [ ]:
# This gives no error

if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

In [ ]:
# This will give errors. Correct this.

if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

#  Data Types
Python has the following data types built-in by default, in these categories:

* Text Type:	str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Boolean Type:	bool
* Binary Types:	bytes, bytearray, memoryview

## Numeric and Text Types

In [ ]:
# Try it 

x = "Hello World"
y = 5
z = -87.7e100

#display x:
print(x)
print(y)
print(z)

#display the data type of x:
print(type(x)) 
print(type(y)) 
print(type(z))

Hello World
5
-8.77e+101
<class 'str'>
<class 'int'>
<class 'float'>

## Number operations
familiar from other programming languages.
* Python does not have unary increment (x++) or decrement (x--) operators.

In [ ]:
x = 3
print(x + 1)   # Addition; prints "4"
print(x * 2)   # Multiplication; prints "6"
print(x ** 2)  # Exponentiation; prints "9"
x += 1
print(x)  # Prints "4"
x *= 2
print(x)  # Prints "8"

y = 4
print(y, y + 1, y * 2, y ** 2)

4
6
9
4
8
4 5 8 16

## String Operations

use either 'text' or "text".

In [ ]:
hello = 'hello'    # String literals can use single quotes
world = "world"    # or double quotes; it does not matter.
year=2021

print(hello)       # Prints "hello"
print(len(hello))  # String length; prints "5"

hw = hello + ' ' + world + ' '+str(year)  # String concatenation
print(hw)  # prints "hello world"

hw2021 = '%s %s %d' %(hello, world, year)  # sprintf style string formatting
print(hw2021)  # prints "hello world 12"

### Convert Types  
Int <--> float   /  Int <--> String

In [ ]:
# Convert from int to float:

x = 5
y = 2.8  
z = "3.8"

a = float(x)
b = int(y)
c = float(z)
d = str(y)

print(a)
print(b)
print(c)
print(d)

print(type(a))
print(type(b))
print(type(c))
print(type(d))



---

# Containers
Python includes several built-in container types: lists, dictionaries, sets, and tuples.
* **List** is a collection which is ordered and changeable. Allows duplicate members.
* **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
* **Dictionary** is a collection which is ordered* and changeable. No duplicate members. (from Py 3.7)
* **Set** is a collection which is unordered and unindexed. No duplicate members.

### Ordered
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

### Changeable
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

### Allow Duplicates
Since lists are indexed, lists can have items with the same value:

## Lists

A list is the Python equivalent of an array, but is resizeable and can contain elements of different types:

* Lists are created using **square brackets**:

    mylist = ["apple", "banana", "cherry"]

List items are **ordered**, **changeable**, and allow **duplicate values.**

In [ ]:
# Lists allow duplicate values:

thislist = ["apple", "banana", "cherry", "apple", "cherry"]

print(thislist)

print(len(thislist))


# A list can contain different data types:

list1 = ["abc", 34, True, 40, "male"]

print(list1)

print(len(list1))

### Accessing and Changing Lists

Note: The range  will start at index St (included) and end at index En (**not included**).  (thislist[St:En]).

Also, remember that the first item has index 0.

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]

print(thislist[1])

# -1 refers to the last item
print(thislist[-1])

# change element
thislist[0]="melon" 

# range of lists
print(thislist[0:2])

What output will these give? Try it yourself

print(thislist[:4])

print(thislist[2:])

print(thislist[-2:-1])

In [ ]:
#print(thislist[:4])
#print(thislist[2:])
#print(thislist[-2:-1])

## Dictionary
A dictionary is a collection which is ordered*, changeable and does not allow duplicates.


A dictionary stores (key : value) pairs.

Dictionaries are written with **curly brackets**, and have keys and values:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(thisdict)
print(len(thisdict))
print(thisdict["brand"])

The values in dictionary items can be of any data type:

In [ ]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

print(thisdict)
print(len(thisdict))
print(thisdict["colors"])

Items can be added.

In [ ]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

thisdict["type"] = "van"
print(thisdict)

## Tuple

A tuple is a collection which is ordered and **unchangeable**.

Tuples are written with **round** brackets.

In [ ]:
# Try it 

x = ("apple", "banana", "cherry")

#display x:
print(x)
#display the data type of x:
print(type(x))

In [ ]:
# Chaning a Tuple will cause error


x = ("apple", "banana", "cherry")
x[0]="melon" 
print(x)

one of the most important differences is that tuples can be used as **keys** in dictionaries and as elements of sets, while *lists cannot*

In [ ]:
d = {(x, x + 1): x for x in range(10)}  # Create a dictionary with tuple keys
t = (5, 6)        # Create a tuple

print(d)  
print(type(t))    # Prints "<class 'tuple'>"
print(d[t])       # Prints "5"
print(d[(1, 2)])  # Prints "1"

## Sets

A set is a collection which is both **unordered** and **unindexed**.

Sets are written with **curly** brackets, like Dictionary but no key:value.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

# Duplicate values will be ignored:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

thisset.add('melon') 
print(thisset)

---
# Loop

## While
Similar to other language  `while` `break` `continue`

In [ ]:
i = 0
while i < 6:
  i += 1  
  if i == 2:
    continue
  if i == 4:
    break
  print(i)

##  For Loops

This is less like the for keyword in other programming languages, and works more like an iterator method

In [ ]:
fruits = ["apple", "banana", "cherry"]
adj = ["red", "big", "tasty"]

for x in fruits:
  print(x)
  if x == "banana":
    break


for x in adj:
  for y in fruits:
    print(x, y)

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
# Iteration numbers
for x in range(6):
  print(x)
print("\n")

# Iteration steps
for x in range(2, 30, 3):
  print(x)
print("\n")

# Iteration x values
for x in [-1, 0, 1]:
  print(x*x)
print("\n")

Else in For Loop

In [ ]:

for x in range(6):
  print(x)
else:
  print("Finally finished!")

For Loop in Dictionary

In [ ]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

# Print each key-value
for car in thisdict:
    values = thisdict[car]
    print('This car  %s is %s ' % (car, values))

For Loop in List

In [ ]:
anim = ['cat', 'dog', 'monkey']
d = {'person': 2, 'cat': 4, 'spider': 8}

# Prints List Loops
for animal in anim:
    print(animal)
print("\n")

## Exercise

### 1. Print a Dictionary with For Loops
> "A person has 2 legs", "A cat has 4 legs", "A spider has 8 legs"

In [ ]:
anim = ['cat', 'dog', 'monkey']
d = {'person': 2, 'cat': 4, 'spider': 8}

# Prints Dict Loops
# Add Your Code Here

### 2. Prints a Sets with For Loops
> 1: cat,  2: dog,  3: monkey

In [ ]:
anim = ['cat', 'dog', 'monkey']

# Add Your Code Here

### Exercise Solution

1. Prints a Dictionary with For Loops
"A person has 2 legs", "A cat has 4 legs", "A spider has 8 legs"
```
for animal in d:
    legs = d[animal]
    print('A %s has %d legs' % (animal, legs))
    

2. Prints a Sets with For Loops
1: cat,  2: dog,  3: monkey
``` 
  anim = ['cat', 'dog', 'monkey']

  for idx, animal in enumerate(anim):
      print('%d: %s' % (idx+1, animal))
  print("\n")

  for animal in enumerate(anim):
      print(animal)
  print("\n")

  for animal in anim:
      print(animal)
  print("\n")
```

# If .. Else

Similar to other language  `if`  `elif` `else`

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

## Shoft Hand If
If you have only one statement to execute, you can put it on the same line as the if statement.

In [ ]:
a = 200
b = 3

# Method 1
if a > b: print("a is greater than b")

# Method 2
print("A") if a > b else print("B")

## Logical Operator
`or` `and`

In [ ]:
a = 500
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

if a > b and a > c:
  print("A is the greatest")



---


# Functions
Python functions are defined using the `def` keyword.

In [ ]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'


# Prints "negative", "zero", "positive"
for x in [-1, 0, 1]:
    print(sign(x))

We will often define functions to take optional keyword arguments

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function()
my_function("Sweden")

###  Arguments *args 

If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a **tuple** of arguments, and can access the items accordingly:

 ###  Arbitrary Keyword Arguments, **kwargs
If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

This way the function will receive a **dictionary** of arguments, and can access the items accordingly:

In [ ]:
# *args
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

# **kwargs
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

### Anomymous Function  Lambda
A lambda function is a small anonymous function.

`lambda arguments : expression`

You can create multiple functions with different names  but that uses the same definition (of Lambda)

In [ ]:
def myfunc(n):
  return lambda a : a * n

# Define function mydoubler
mydoubler = myfunc(2)
print(mydoubler(11))

# Define function mytripler
mytripler = myfunc(3)
print(mytripler(11))

## Exercise

### 1. Create a function that returns a list of The Fibonacci Sequence for n
`def fibonacci(n=10):`

* n must be greater than 0 else returns error message
* returns a  List of Fibonacci

   Example: fibonacci(10) #Output:  [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
def fibonacci(n):
  # ADD YOUR CODE HERE
  # ADD YOUR CODE HERE

# Print 
fibonacci(10)

### 2. Find minimum and maximum values for X,Y coordinates in a List
should give output as 

    min max of X are (1, 6)
    min max of Y are (10, 20)
    
```
  # (objectname, Xcoord, Ycoord)
  positions = [
             ('car',1,  10),
             ('ped',5,  20),
             ('cycle',6, 15)
             ]
```

In [ ]:
positions = [
             ('car',1,  10),
             ('ped',5,  20),
             ('cycle',6, 15)
             ]

def minmaxPos(objects):
    minx = 1e20 
    miny = 1e20
    maxx = -1e20 
    maxy = -1e20

    # ADD YOUR CODE HERE
    # ADD YOUR CODE HERE
    return minx,maxx, miny, maxy

x0,x1,y0,y1 = minmaxPos(positions)

print('min max of X are (%d, %d)' % (x0,x1))
print('min max of Y are (%d, %d)' % (y0,y1))

### Exercise Solution

Exercise Solution 1
```  

  def fibonacci(n):
      sequence = [0,1]
      if (n < 1):
        print (" n must be greater than 1")
      if (n < 3):
          return sequence[:n]         
      else : 
          for i in range(2,n): 
            sequence.append(sequence[i-1]+sequence[i-2])
          return sequence

  # Print 
  FibList=fibonacci(10)
  FibList

```  

Exercise Solution 2

  ```
  ### Exercise Solution 1
  positions = [
             ('car',1,  10),
             ('ped',5,  20),
             ('cycle',6, 15)
             ]

  def minmaxPos(objects):
      minx = 1e20 # These are set to really big numbers
      miny = 1e20
      maxx = -1e20 
      maxy = -1e20
      for obj in objects:
          name,x,y = obj
          if x < minx: 
              minx = x
          elif x > maxx: 
              maxx = x
          if y < miny:
              miny = y
          elif y > maxy: 
              maxy = y
      return minx,maxx, miny, maxy

  x0,x1,y0,y1 = minmaxPos(positions)

  print('min max of X are (%d, %d)' % (x0,x1))
  print('min max of Y are (%d, %d)' % (y0,y1))

---
# Classes
Python is an object oriented programming language.

Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

## Initiation   __ init __() Function

All classes have a function called __ init __(), which is always executed when the class is being initiated.

Use the __ init __() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

## The self Parameter
The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class:


## Object Methods
Objects can also contain methods. Methods in objects are functions that belong to the object.

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name , 'and', self.age ,'years old' )

# Create Object or Construct an instance
p1 = Person("Kim", 20)

# Call myfunc
p1.myfunc()

Instead of 'self', can use the any name for the current object

In [ ]:
class Person:
  def __init__(myobject, name, age):
    myobject.name = name
    myobject.age = age

  def myfunc(myobject):
    print("Hello my name is " + myobject.name , 'and', myobject.age ,'years old' )

  def myName(self):
    print("Hello my name is " + self.name)

p1 = Person("Kim", 36)
p1.myfunc()

### Modify Object Properties

You can modify or delete properties on objects

In [ ]:
# Modify property
p1.age = 40
p1.myfunc()

# Delete Property
del p1.age
p1.myName()

# Delete Object
del p1
# p1.myName()  # not defined

# Inheritance

Inheritance allows us to define a class that inherits all the methods and properties from another class.

* __Parent__ class is the class being inherited from, also called base class.

* __Child__ class is the class that inherits from another class, also called derived class.

### Use the super() Function 
Python also has a `super()` function that will make the child class inherit all the methods and properties from its parent:

##  Create Parent Class

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

## Create Child Class
Make it inherit the properties and methods from the parents

To create a class that inherits the functionality from another class, send the parent class as a parameter when creating the child class:

In [ ]:
class Student(Person):  
  pass

y = Student("Mike", "Olsen")
y.printname()

## Child Class: the __init__() Function

> When you add the __init__() function, the child class will no longer inherit the parent's __init__() function.

> The child's __init__() function overrides the inheritance of the parent's __init__() function.

To keep the inheritance of the **parent's** __init__() function,
1. Add a call to the parent's __init__() function:
2. or,  you can use `super() `

In [ ]:
class Student(Person):
    def __init__(self, fname, lname, year):
      super().__init__(fname, lname)  #inherits parent init()
      self.graduationyear = year
    
    def welcome(self):
      print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)


# Parent method
y = Student("Mike", "Olsen", 2019)

# Using Parent's method
y.printname()

# using Child method
y.welcome()

y.graduationyear=2021
y.welcome()

___
# Module

Consider a module to be the same as a code library with extension .py:
It is like creating a header  include "*.h"  in C programming

A file containing a set of functions you want to include in your application.

## Create a Module

To create a module just save the code you want in a file with the file extension .py:

Example

```
  # mymodule.py

  class Person:
    def __init__(self, fname, lname):
      self.firstname = fname
      self.lastname = lname

    def printname(self):
      print(self.firstname, self.lastname)


    person1 = {
      "name": "John",
      "age": 36,
      "country": "Norway"
    }

    def greeting(name):
      print("Hello, " + name)
```

## Import Module

 Use the module we just created, by using the import statement:

  Can create an **alias** when you import a module, by using the as keyword:

> For COLAB, you need to upload  " mymodule.py" in the session storage
![mountModule.png]()

In [ ]:
import mymodule

mymodule.greeting('Young')

Hello, Young

In [ ]:
# create an alias when you import a module ( import numpy as np)
import mymodule as mx

mx.greeting('Young')
a = mx.person1["age"]
print(a)

Student1 = mx.Person("Kim","Young")
Student1.printname()

##Import From Module

Import only selected methods/class from the module:

> Note: When importing using the from keyword, do not use the module name when referring to elements in the module. Example: person1["age"], **not** mymodule.person1["age"]

In [ ]:
from mymodule import person1

print (person1["age"])

# Exercise

## Problem 1.
What would the output be?

```

  vecA_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
  vecA = np.array(vecA_list)

  print("\nvecA = \n", vecA)
  print("\nvecA[0:7] = \n", vecA[0:7])      # ind 0 부터 7-1 index
  print("\nvecA[1:7] = \n", vecA[1:7])      # ind 1 부터 7-1 index

  print("\nvecA[1:-2] = \n", vecA[1:-2])      # ind 1 에서 끝에서 -2 번째 ind 까지
  print("\nvecA[7:0:-1] = \n", vecA[7:0:-1])  # ind 7번째에서 0+1 ind 
  print("\nvecA[7:0] = \n", vecA[7:0])        #  ?   0개 데이터

  print("\nvecA[::-2] = \n", vecA[::-2])
  print("\nvecA[::2] = \n", vecA[::2])

  vecA[3:7] = 40
  print("\nvecA = \n", vecA)
```

## Problem 2.

Create functions that return min/max elements and their index.
* Input argument is a List
* save these functions in a module "myDLIP.py"

``` 
  import myDLIP as dp 

  a = [1,2,3, 4, -1, 5, 2]

  print(dp.minVal(a))
  print(dp.maxVal(a))
  print(dp.minIdx(a))
  print(dp.maxIdx(a))

### Solution 1

In [ ]:
# Save this in  myDLIP.py

def minVal(input):
    min = input[0]
    for i in range(0,len(input),1):   # for (i = 0; i < len(input); i++)
        if (input[i] < min):
            min = input[i]
    return min

def maxVal(input):
    max = input[0]
    for elem in input:
        if (elem > max):
            max = elem
    return max

def minIdx(input):
    min = input[0]
    for i in range(len(input)):
        if (input[i] < min):
            min = input[i]
            minIdx = i
    return minIdx, min

def maxIdx(input):
    max = input[0]
    for i, elem in enumerate(input):
        if (elem > max):
            max = elem
            maxIdx = i
    return maxIdx, max

In [ ]:
#import myDLIP as dp 
#from myDLIP import *

# Create a List 
a = [1,2,3,44,-1,4,22]

# Display min/max value and index

print(minVal(a))
print(maxVal(a))
print(minIdx(a))
print(maxIdx(a))

#print(dp.minVal(a))
#print(dp.maxVal(a))
#print(dp.minIdx(a))
#print(dp.maxIdx(a))